<div class="w-full md:h-full overflow-hidden">
  <div class="w-full flex items-center justify-between px-4">
    <a href="/feed"
      ><img
        class="h-10 my-2"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/150px-Instagram_logo.svg.png"
        alt="instagram"
    /></a>
  </div>
  <div class="w-full h-full overflow-hidden">
    <div class="h-5/6 flex flex-col justify-end md:justify-between">
      <div
        class="w-full h-max z-[999999] bg-gray-100 md:bg-white absolute bottom-[0%] ]left-0 md:relative flex flex-col max-[768px]:flex-row justify-between px-4"
      >
        <a href="/feed"
          ><div
            class="flex items-center gap-2 mt-3 cursor-pointer px-2 py-1 rounded-xl hover:bg-[#F5F5F7]"
          >
            <i class="ri-home-fill text-4xl md:text-3xl"></i>
            <h1 class="text-xl hidden md:flex">Home</h1>
          </div></a
        >
        <a href="/search"
          ><div
            class="flex items-center gap-2 mt-3 cursor-pointer px-2 py-1 rounded-xl hover:bg-[#F5F5F7]"
          >
            <i class="ri-search-fill text-4xl md:text-3xl"></i>
            <h1 class="text-xl hidden md:flex">Search</h1>
          </div></a
        >
        <a href="/upload"
          ><div
            class="flex items-center gap-2 mt-3 cursor-pointer px-2 py-1 rounded-xl hover:bg-[#F5F5F7]"
          >
            <i class="ri-file-add-fill text-4xl md:text-3xl"></i>
            <h1 class="text-xl hidden md:flex">Create</h1>
          </div></a
        >
        <a href="/profile"
          ><div
            class="flex items-center gap-2 mt-3 cursor-pointer px-2 py-1 rounded-xl hover:bg-[#F5F5F7]"
          >
            <i class="ri-account-circle-fill text-4xl md:text-3xl" ></i>
            <h1 class="text-xl hidden md:flex">Profile</h1>
          </div></a
        >
      </div>
      <div class="relative hidden md:flex px-4">
        <div
          id="logout-slider"
          class="w-full h-full absolute z-[1] top-[-00%] ease-linear duration-200 left-0 text-3xl flex items-center pl-4"
        >
          <a href="/logout" class="ml-6"> Logout </a>
        </div>
        <a id="logout-btn" class="relative z-[9] cursor-pointer w-full"
          ><div
            class="w-full h-full flex items-center bg-white gap-2 mt-3 cursor-pointer px-2 py-1 rounded-xl hover:bg-[#F5F5F7]"
          >
            <i class="ri-settings-2-fill" style="font-size: 25px"></i>
            <h1 class="text-xl">Settings</h1>
          </div></a
        >
      </div>
      <script>
        var click = 1;
        document
          .querySelector("#logout-btn")
          .addEventListener("click", (open) => {
            if (click == 1) {
              document.querySelector("#logout-slider").style.top = "-80%";
              click = 2;
            } else if (click == 2) {
              document.querySelector("#logout-slider").style.top = "0%";
              click = 1;
            }
          });
      </script>
    </div>
  </div>
</div>
