<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
    rel="stylesheet"
  />
  </head>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html,
    body {
      width: 100%;
      height: 100%;
    }

    #main {
      width: 100%;
      height: 100%;
      /* background-color: rgb(166, 107, 169); */
      background: linear-gradient(to right, purple, red);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #login {
      width: 45%;
      height: 100%;
      background-color: black;
      color: white;
      font-family: gilroy;
      /* overflow: hidden; */
      position: relative;
    }

    #nav{
      display: flex;
      align-items: center;
      margin-left: 210px;
      margin-top: 20px;
    }

    #nav i{
      font-size: 30px;
    }

    #login>h1{
      font-size: 40px;
      position: absolute;
      font-style: italic;
      /* font-family: cursive; */
      font-family: serif;
      top: 20%;
      left: 37%;
    }

    #login form{
      position: absolute;
      top: 30%;
      left: 20%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    #login form input{
      padding: 10px 10px;
      font-size: 25px;
      border-radius: 10px;
      border: none;
      outline: none;
      background-color: rgb(237, 235, 235);
      width: 140%;
      text-align: center;
      text-transform: capitalize;
    }

    #login form button{
      padding: 10px 30px;
      background-color: rgb(44, 44, 231);
      font-size: 30px;
      border: none;
      outline: none;
      border-radius: 30px;
      margin-left: 100px;
      color: rgb(237, 235, 235);
      flex-shrink: 0;
    }

    #login>p{
      position: absolute;
      top: 58%;
      left: 19%;
      text-transform: capitalize;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.600);
    }

    #login>p span{
      color: white;
      text-transform: none;
    }

    .option{
      display: flex;
      align-items: center;
      position: absolute;
      top: 63%;
      left: 15%;
      gap: 5px;
      color: rgba(255, 255, 255, 0.712);
    }

    .line{
      width: 220px;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.512);
      margin-bottom: 7px;
    }

    .log-with-fb{
      display: flex;
      align-items: center;
      position: absolute;
      top: 67%;
      left: 27%;
      gap: 4px;
    }

    .log-with-fb i{
      color: rgb(9, 114, 212);
      font-size: 40px;
    }

    .log-with-fb h4{
      margin-top: 9px;
      color: rgb(10, 105, 194);
    }

    #login hr{
      height: 1px;
      /* background-color: white; */
      margin-top: 700px;
    }

    #go-to-register{
      position: absolute;
      top: 92%;
      left: 27%;
      text-transform: capitalize;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.600);
      cursor: pointer;
    }

    #go-to-register span{
      color: white;
      text-transform: none;
    }
  </style>

  <body>
    <div id="main">
      <div id="login">
        <div id="nav">
          <h4>English (United States)<i class="ri-arrow-down-s-line"></i></h4>
        </div>
        <h1>Instagram</h1>
        <form action="/login" method="post">
          <input type="text" name="username" placeholder="enter your username" />
          <input
            type="password"
            name="password"
            placeholder="enter your password"
          />
          <button>Submit</button>
        </form>
        <p>forgot your login details? <span>Get Help Logging in.</span></p>
        <div class="option">
          <div class="line"></div>
          <h3>OR</h3>
          <div class="line"></div>
        </div>
        <div class="log-with-fb">
          <i class="ri-facebook-circle-fill"></i>
          <h4>Log in with Facebook</h4>
        </div>
        <hr>
        <a href="/register"><small id="go-to-register">don't have an account? <span>Sign up.</span></small></a>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
