<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html,
    body {
      width: 100%;
      height: 100%;
    }

    #main {
      width: 100%;
      height: 100%;
      /* background-color: rgb(166, 107, 169); */
      background: linear-gradient(to right, purple, red);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #register {
      width: 45%;
      height: 100%;
      background-color: black;
      color: white;
      font-family: gilroy;
      /* overflow: hidden; */
      position: relative;
    }

    #nav{
      display: flex;
      align-items: center;
      margin-left: 210px;
      margin-top: 20px;
    }

    #nav i{
      font-size: 30px;
    }

    #register>h1{
      font-size: 40px;
      position: absolute;
      font-style: italic;
      /* font-family: cursive; */
      font-family: serif;
      top: 14%;
      left: 37%;
    }

    #register form{
      position: absolute;
      top: 23%;
      left: 20%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    #register form input{
      padding: 10px 10px;
      font-size: 25px;
      border-radius: 10px;
      border: none;
      outline: none;
      background-color: rgb(237, 235, 235);
      width: 140%;
      text-align: center;
      text-transform: capitalize;
    }

    #register form button{
      padding: 10px 30px;
      background-color: rgb(44, 44, 231);
      font-size: 30px;
      border: none;
      outline: none;
      border-radius: 30px;
      margin-left: 100px;
      color: rgb(237, 235, 235);
      flex-shrink: 0;
    }

    
    .register-with-fb{
      display: flex;
      align-items: center;
      position: absolute;
      top: 76%;
      left: 27%;
      gap: 4px;
    }

    .register-with-fb i{
      color: rgb(9, 114, 212);
      font-size: 40px;
    }

    .register-with-fb h4{
      margin-top: 9px;
      color: rgb(10, 105, 194);
    }

    #register hr{
      height: 1px;
      /* background-color: white; */
      margin-top: 720px;
    }


    #go-to-login{
      position: absolute;
      top: 93%;
      left: 27%;
      text-transform: capitalize;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.600);
      cursor: pointer;
    }

    #go-to-login span{
      color: white;
      text-transform: none;
    }
  </style>
  <body>
    <div id="main">
      <div id="register">
        <div id="nav">
          <h4>English (United States)<i class="ri-arrow-down-s-line"></i></h4>
        </div>
        <h1>Instagram</h1>
        <form action="/register" method="post">
          <input
            type="text"
            name="username"
            placeholder="enter your username"
          />
          <input
            type="text"
            name="profilePic"
            placeholder="enter your profilePic"
          />
          <input
            type="text"
            name="fullName"
            placeholder="enter your fullName"
          />
          <input type="text" name="bio" placeholder="enter your bio" />
          <input
            type="password"
            name="password"
            placeholder="enter your password"
          />
          <button>Submit</button>
        </form>
        <div class="register-with-fb">
          <i class="ri-facebook-circle-fill"></i>
          <h4>Register with Facebook</h4>
        </div>
        <hr>
        <a href="/login"><small id="go-to-login">Already have an account? <span>Sign in.</span></small></a>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
