<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="./images/logo-ig-png-32464.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>Instagram Clone</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
  </head>

  <body>
    <div
      id="loader"
      class="fixed inset-0 flex flex-col justify-center items-center bg-white z-50"
    >
      <div class="loader"></div>
      <h1 class="text-3xl mt-2">Loading...</h1>
    </div>
    <div class="main w-full h-full flex md:flex-row flex-col">
      <div class="md:w-1/6 w-full">
        <%- include('partials/navigation.ejs') %>
      </div>
      <div class="w-full h-full overflow-auto grid grid-cols-3 gap-3 m-6">
        <% posts.forEach(function(post){ %> <%
        if(user.savedPosts.includes(post._id)){ %>
        <div class="img w-full h-80">
          <img src="<%= post.media %>" alt="" />
        </div>
        <% } else{ %>
        <div style="display: none" class="img w-full h-80">
          <img src="<%= post.media %>" alt="" />
        </div>
        <% } %> <% }) %>
      </div>
    </div>
    <script>
      // LOADER
      window.addEventListener("load", function () {
        document.getElementById("loader").style.display = "none";
      });
    </script>
  </body>
</html>
