<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram Clone</title>
    <link rel="icon" type="image/svg+xml" href="./images/logo-ig-png-32464.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
              instagramYellow: "rgb(255, 214, 0)",
              instagramOrange: "rgb(255, 122, 0)",
              instagramPurple: "rgb(211, 0, 197)",
            },
          },
        },
      };
    </script>
    <title>Document</title>
  </head>
  <style>
    ::-webkit-scrollbar {
      width: 10px;
      background-color: white;
    }

    ::-webkit-scrollbar-thumb {
      height: 10%;
      background-color: red;
      border-radius: 5px;
    }
  </style>
  <body>
    <div
      id="loader"
      class="fixed inset-0 flex flex-col justify-center items-center bg-white z-50"
    >
      <div class="loader"></div>
      <h1 class="text-3xl mt-2">Loading...</h1>
    </div>
    <div class="w-full h-screen flex md:flex-row flex-col">
      <div class="md:w-1/6 w-full">
        <%- include('partials/navigation.ejs') %>
      </div>
      <div class="w-full flex flex-col md:flex-row">
        <div class="w-full md:w-1/4 bg-gray-100 h-max md:h-full px-0 md:px-4">
          <div
            class="w-full rounded-full my-4 p-2 bg-gray-200 flex justify-between items-center"
          >
            <div class="w-full">
              <input
                id="search-user"
                placeholder="enter username"
                class="w-full bg-transparent outline-none border-none"
              />
            </div>
            <i
              style="cursor: pointer; z-index: 99"
              onclick="closeSearchDiv()"
              id="close-search-icon"
              class="ri-close-line"
            ></i>
          </div>
          <div
            class="w-full absolute bg-white md:relative"
            id="search-user-names"
          ></div>
        </div>
        <div class="w-full md:w-3/4 h-full px-4 md:px-0 overflow-auto">
          <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
            <% posts.forEach((post) => { %>
            <div class="w-full h-60">
              <img src="<%= post.media %>" class="w-full h-full" />
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
      integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"
      integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      // LOADER
      window.addEventListener("load", function () {
        document.getElementById("loader").style.display = "none";
      });

      // Code to search a user

      document
        .querySelector("#search-user")
        .addEventListener("input", async function (event) {
          var response = await axios.post("/searchUser", {
            data: event.target.value,
          });
          document.querySelector("#search-user-names").style.display =
            "initial";
          var clutter = "";
          response.data.searchedUser.forEach(function (user) {
            clutter += `<a href=""><div class="flex items-center gap-2 bg-gray-200 p-2 rounded-full mt-2">
                        <img class="w-12 h-12 rounded-full" src="${user.profilePic}" alt="">
                        <h2>${user.username}</h2>
                       </div></a>`;
          });

          document.querySelector("#search-user-names").innerHTML = clutter;
        });

        // code to close search div
      function closeSearchDiv() {
        document.querySelector("#search-user-names").style.display = "none";
        document.querySelector("#search-user").value = "";
      }
    </script>
  </body>
</html>
