<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="./images/logo-ig-png-32464.png" />
    <title>Instagram Clone</title>
</head>
<body>
    <h1>this story is not uploaded by you</h1>
</body>
</html>