<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/createPost" method="post">
        <input type="text" name="media" placeholder="enter image link">
        <input type="text" name="caption" placeholder="enter your caption">
        <input type="submit">
    </form>
</body>
</html>