/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  /* background-color: rgb(166, 107, 169); */
  background: -webkit-gradient(linear, left top, right top, from(purple), to(red));
  background: -o-linear-gradient(left, purple, red);
  background: linear-gradient(to right, purple, red);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}

#feed {
  width: 40%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: gilroy;
  /* overflow: hidden; */
  overflow: auto;
  position: relative;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 20px;
}

.nav h2 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.nav i {
  font-size: 35px;
  cursor: pointer;
}

.nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 0px;
  overflow: auto;
  padding: 0px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 10px;
}

.add-story {
  position: relative;
  width: 150px;
  height: 150px;
}

.add-story img {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  border: 5px solid red;
}

.add-story i {
  position: absolute;
  color: white;
  background-color: blue;
  border-radius: 50%;
  padding: 0px 7px;
  font-size: 30px;
  top: 60%;
  left: 70%;
  cursor: pointer;
}

.user-stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  width: 450px;
  /* background-color: aqua; */
  gap: 10px;
  position: relative;
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.story #story-img1 {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  border: 5px solid red;
  -webkit-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
  scale: 1;
}

.big-story {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  overflow: auto;
  scale: 0;
}

.story-big {
  width: 100%;
  height: 94%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.story-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 100%;
  position: absolute;
  bottom: -7%;
  padding: 10px;
  padding-left: 30px;
}

.story-review input {
  width: 70%;
  padding: 10px 20px;
  text-align: center;
  font-size: 25px;
  border-radius: 30px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  outline: none;
}

.story-review i {
  font-size: 60px;
  color: white;
  cursor: pointer;
}

.story-detail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  position: absolute;
  top: 3%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story-detail-1 {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story-detail-1 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.story-detail-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.delete-story{
  position: absolute;
  padding: 10px 20px;
  background-color: rgb(46, 45, 45);
  left: -295%;
  top: 57%;
  border-radius: 5px;
  scale: 0;
  -webkit-transition: all linear .2s;
  -o-transition: all linear .2s;
  transition: all linear .2s;
}

.delete-story a{
  white-space: nowrap;
}

.story-detail-2 i {
  font-size: 40px;
  cursor: pointer;
}

#posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 69%;
  /* background-color: aqua; */
  overflow: auto;
  margin-top: 10px;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* background-color: rgba(240, 255, 255, 0.132); */
}

.post > img {
  width: 85%;
  height: 400px;
  margin-left: 5%;
}

.nothing{
  overflow: hidden;
  overflow-y: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: fixed;
}

.nothing p{
  font-size: 50px;
  padding: 50px 20px;
  text-transform: capitalize;
  width: 55%;
  /* color: rgba(244, 243, 243, 0.513); */
  color: grey;
  display: none;
}

.follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 70px;
  position: relative;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-left: 15px;
}

.user h1 {
  font-weight: 300;
}

.user img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.more i {
  font-size: 30px;
  cursor: pointer;
}

a {
  /* font-size: 40px; */
  text-decoration: none;
  cursor: pointer;
  color: white;
}

i {
  text-decoration: none;
  color: rgb(236, 236, 236);
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* background-color: aqua; */
  padding-left: 24px;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: -5px;
  /* margin-left: 22px; */
}

.number i {
  font-size: 50px;
}

.caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -20px;
}

.caption h2 {
  color: rgba(255, 255, 255, 0.655);
}

.caption h1 {
  font-weight: 350;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -10px;
}

.comment h4 {
  color: rgba(255, 255, 255, 0.873);
}

.comment input {
  width: 50%;
  border: none;
  outline: none;
  padding: 5px 20px;
  display: none;
  border-radius: 10px;
}

.upload-story {
  /* display: none; */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(red), to(rgb(123, 13, 123)));
  background: -o-linear-gradient(left, red, rgb(123, 13, 123));
  background: linear-gradient(to right, red, rgb(123, 13, 123));
  z-index: 99;
  overflow: hidden;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  scale: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upload-story form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.upload-story form input,
button {
  padding: 10px 30px;
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
  border: none;
  outline: none;
  border-radius: 10px;
}

.upload-story form button {
  background-color: rgb(109, 139, 247);
  background: -webkit-gradient(linear, left top, right top, from(rgb(47, 99, 123)), to(rgb(73, 121, 43)));
  background: -o-linear-gradient(left, rgb(47, 99, 123), rgb(73, 121, 43));
  background: linear-gradient(to right, rgb(47, 99, 123), rgb(73, 121, 43));
  color: white;
  border-radius: 30px;
  padding: 10px 40px;
}

.upload-story i {
  position: absolute;
  color: white;
  font-size: 50px;
  top: 1%;
  right: 3%;
  cursor: pointer;
}

.comments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  position: relative;
}

.comment-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.comment-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: gilroy;
}

.comment-data h3 {
  margin-top: -10px;
  font-weight: 400;
}

.comment-data small {
  margin-top: -7px;
}

.comment-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  position: absolute;
  right: 8%;
  top: 30%;
}

.comment-review i {
  font-size: 27px;
  cursor: pointer;
}

.more-option {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 16%;
  background-color: black;
  top: 20%;
  padding: 10px;
  height: 120px;
  scale: 0;
  -webkit-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.more-option h4 {
  cursor: -webkit-grab;
  cursor: grab;
}


#page-change{
  position: fixed;
  bottom: 0%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 30%;
  padding: 4px 20px;
  background-color: black;
}

#page-change i{
  font-size: 40px;
}

#page-change img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


@media (max-width:800px) {
  #feed{
    width: 100%;
  }

  #page-change{
    width: 100%;
    left: 0%;
  }
}